h1{
	text-align: center;
}

h4{
	text-align: center;
	text-decoration: underline;
}

img{
  cursor: pointer;
}

/*Style the tab*/
div.tab {
	margin-left: 50px;
}

/* Style the buttons inside the tab */
div.tab button {
	/*margin-left: 50px;*/
	background-color: #a6d8a6;
	float: left;
	border-style: solid;
	/*border-radius: 15px;*/
	border-color: #5cb85c;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
	background-color: #dcefdc;
}

/* Create an active/current tablink class */
div.tab button.active {
	background-color: white;
	border-bottom: 3px solid white;
}

/* Style the data containers */
.data-container{
  display: none;
  border-style: solid;
  /*border-radius: 15px;*/
  height: 100%;
  width: 90%;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-color: #5cb85c;
}

#firstColumn {
}

#lastColumn {
}

li a:hover {
    cursor: pointer;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #5cb85c;
}
/*
.navbar-brand{
   pointer-events: none;
   cursor: default;
}
*/

.account-check {
  padding-left:0px;
  padding-right:10px;
}

#request-btn{
	position: relative;
}

.button-badge{
	background-color: #fa3e3e;
	border-radius: 2px;
	color: white;

	padding: 1px 3px;
	font-size: 10px;

	position: absolute; /* Position the badge within the relatively positioned button */
	top: 0;
	right: 0;
}
#addAccountContent{
	padding: 0px 0px 10px 0px;
}

#accountsContent{
	padding: 0px 0px 10px 0px;
}

#accountsTable{
  overflow: auto;
}


#transferContent{
	padding: 0px 0px 10px 0px;
}

.btn{
	height: 100%;
	width: 150px;
}
/* Code for madals (popups)*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
    max-height: calc(150vh - 200px);
    overflow: hidden;
}
/*Divs inside the transfer modal*/
.transferModalBtn{
	width: 100%;
	margin-top: 10px;
	text-align: center;
}
/*padding space between table columns*/
.paddingBetweenCols{
	margin-top:15px;
}
.paddingBetweenCols td
{
    padding:5px 30px 5px 30px;
}

/*money tables*/
.moneyTables{
	width:100%;
	border:1px solid black;
	margin-top: 5px;
}
.moneyTables td, th{
	border:1px solid black;
}

/*padding space between accounts table columns*/
.checkboxTable{
	display: block;
	margin-top:15px;
	margin-bottom: 15px;
	margin-left: 15px;
	overflow: scroll;
  overflow-x: hidden;
	max-height: 200px;
}
.checkboxTable td
{
    padding:0 10px 0 10px;
}

.checkboxTable td label
{
    padding-bottom: 0px;
    padding-top: 5px;
}

#transferBtn{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	display: block;
}
#create-button{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	display: block;
}

#request-body{
  position: relative;
  max-height: calc(100vh - 200px);
}

#incoming-requests-list{
  position: relative;
  max-height: calc(100vh - 200px);
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*modal header*/
.popupHeader{
	width: 100%;
	padding-top: 5px;
	font-size: 20px;
	border-radius: 5px 5px 0px 0px;
	font-weight: bold;
	background-color: #5cb85c;
    color: white;
}
.popupHeader h2{
	padding-left: 10px;
	padding-bottom: 10px;
	text-align: left;
}
.popupHeader span{
	padding-right: 5px;
	padding-top:20px;
	padding-bottom:0px;
	color: white;
	opacity: 1;
}
/*account button*/
.accountButtons{
	text-align: center;
}

.accountButtons input{
	margin-left: 5px;
	margin-right: 5px;
}

.date-input {

}

.scrollMoney{
  height: 275px;
  overflow: auto;
}

ol{
  padding-left: 0px;
}

.calendarWidget{
  width: 20%;
}

/*
CSS for the tabbing on home page
*/
.nav-pills > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-pills {
    text-align:center;
}