

#firstColumn {
}

#lastColumn {
}

#transactions-container{
  border-style: solid;
  height: 500px;
  width: 80px;
}
@media (max-width: 768px) { 
  .col-sm-1,
  .col-sm-2,
  .col-sm-3{margin-top: 0px; margin-bottom: 10px;},
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12
}

@media (min-width: 768px) { 
  .col-md-1,
  .col-md-2,
  .col-md-3{margin-top: 40px;},
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12
}