h1{
	text-align: center;
}

h4{
	text-align: center;
	text-decoration: underline;
}

#firstColumn {
}

#lastColumn {
}

.data-container{
  border-style: solid;
  border-color: DimGrey;
  border-radius: 15px;
  height: 100%;
  width: 450px;
  margin: 0 auto;
}

li a:hover {
    cursor: pointer;
}

.btn{
	height: 100%;
	width:150px;
}
/* Code for madals (popups)*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
}
/*Divs inside the transfer modal*/
.transferModalBtn{
	width: 100%;
	margin-top: 10px;
	text-align: center;
}
/*padding space between table columns*/
.paddingBetweenCols{
	margin-top:15px;
}
.paddingBetweenCols td
{
    padding:0 30px 0 30px;
}

/*padding space between accounts table columns*/
.checkboxTable{
	margin-top:15px;
	margin-bottom: 15px;
}
.checkboxTable td
{
    padding:0 10px 0 10px;
}

#transferBtn{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	display: block;
}
#create-button{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	display: block;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*modal header*/
.modalHeader{
	
	font-size: 20px;
	text-decoration: underline;
	font-weight: bold;
}
.data-container{
  padding: 10px;
}

.date-input {

}

.scrollMoney{
  height: 450px;
  overflow: auto;
}

ol{
  padding-left: 0px;
}

.calendarWidget{
  width: 20%;
}