h1{
	text-align: center;
}

h4{
	text-align: center;
	text-decoration: underline;
}

#firstColumn {
}

#lastColumn {
}

#transactions-container{
  border-style: solid;
  height: 500px;
  width: 250px;
}

#expenses-container{
  border-style: solid;
  height: 500px;
  width: 250px;
  float: right;
}