.request-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.request-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}

/* The Close Button */
#request-close {
    color: white;
    opacity: 1;
    float: right;
    font-size: 35px;
    font-weight: bold;
    margin-top: -44px;
}

#request-close:hover,
#request-close:focus {
    color: #000;
    opacity: .4;
    text-decoration: none;
    cursor: pointer;
}

#request-header{
    width: 100%;
    padding-top: 5px;
    font-size: 20px;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    background-color: #5cb85c;
    color: white;
}

#request-body {
  padding: 2px 16px;
}



/**********list element css ****************************************/

/*******Make list scrollable***************************************/
#incoming-requests-list{
  height: 300px;
  overflow-x: auto;
  overflow-y: scroll;
  max-height: calc(100vh - 200px);
  border: 0px;
}

.request-list-item{
  width: 100%;
  border-right: 0px;
}

/**Column 1 **/
#buttons-col{

}

/** description list css **/
#description-list{
  padding-left: 5px;
  display: table;
  width: 458px;
  table-layout: fixed;
  border-color: white;
}

.description-item{
  display: table-cell;
  width: 33%;
}
/** btn row css **/
#btn-container{
  width: 100%;
}

.request-btn{
  border: 1px solid #000;
}
#approve-btn{

}

#change-amt-btn{

}

#deny-btn{

}
/**Column 2**/

#description-col{

}

#description-text{
  height: 95px;
  border: 1px solid #ddd;
}

/*************change amount modal css***************************/
.change-amt-modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#change-amt-modal-content{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* The Close Button */
#change-amt-close {
    color: black;
    float: right;
    font-size: 35px;
    font-weight: bold;
    margin-top: -44px;
}

#change-amt-close:hover,
#change-amt-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#change-amt-header{

}
}
#change-amt-footer{
  text-align: center;
}
